$primaria-normal: #06121e;
$primaria-dark: #040f1a;
$primaria-light: #0c2135;

$secudnaria-normal:#090d11;
$secundaria-dark: #06090c;
$secundaria-light: #1a1f25;

$preto-normal: #232224;
$preto-dark: #161617;
$preto-light: #353436;

$branco-normal: #fff;
$branco-dark: #edeaef;
$branco-ligh: #fefbff;

$amarelo-normal:#d0bc02;
$amarelo-dark:#998a04;
$amarelo-light:#e9dc67;
